<a class="card-exhibit" href="{{url}}">
  <div class="ce-bg">
    {{#if feature_image}}
      <img src="{{feature_image}}" alt="{{title}}" class="ce-bg-img">
    {{else}}
      <div class="ce-bg-fallback">{{title}}</div>
    {{/if}}
  </div>
  <div class="ce-overlay"></div>
  <div class="ce-placard">
    <div class="ce-header">
      <span class="ce-num">NO.{{@number}}</span>
      {{#if primary_tag}}<span class="ce-tag">{{primary_tag.name}}</span>{{/if}}
    </div>
    <h3 class="ce-title">{{title}}</h3>
    {{#if custom_excerpt}}
      <p class="ce-excerpt">{{custom_excerpt}}</p>
    {{else}}
      <p class="ce-excerpt">{{excerpt words="20"}}</p>
    {{/if}}
    <div class="ce-date">{{date format="YYYY.MM.DD"}}</div>
  </div>
</a>
